

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  
.header {
  display: flex;
  min-width: 1100px;
  height: 292px;
  justify-content: baseline;
  align-items: center;
  padding: 90px 50px;
  gap: 50px;
  position: relative;
  font-family: 'Raleway', sans-serif;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  word-spacing: 1px;
  font-family: Raleway;
  }


 
.header-menu ol {
  display: flex;
  justify-content: flex-start;
  gap: 1.6em;
  list-style-type: none;
  }

  .header-menu ol li {
    text-indent: 0.2em;
  }
  
.li-circle {
  list-style-type: circle;
  }

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 12.2%;
  text-align: center;
}

.contacts {
  max-width: 22%;
  line-height: 25px;
  }

.header ol:nth-child(3) {
  position: absolute;
  left: 72%;
}

.link {
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}
.main-link {
  text-decoration: none;
  }

.adress {
  text-transform: none;
}
.main {
  flex: 1;
}

.hero {
  position: relative;
  background: url('../images/cover.jpg') no-repeat center center;
  background-size: cover;
  height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Важно: Поднимаем контент вверх */
  
  color: white;
 

  }
  
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .hero-content {
    z-index: 1;
    padding: 165px 50px 50px;
    display: flex;
    text-transform: uppercase;
  }

.text-block-hero {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

}

.text-block-hero p {
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;

}

.text-block-hero p:nth-child(1) {

  text-align: left; 
}

.text-block-hero p:nth-child(2) {
  text-align: center; 
}

.text-block-hero p:nth-child(3) {
  text-align: right; 
}

.discription-button-hero {
  
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: calc(100% - 100px);
  /* padding: 50px; */
  position: absolute;
  bottom: 50px; 
  /* left: 50px;
  right: 50px; */
  
}

.discription-button-hero p {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  word-spacing: 5px;
  margin: 0;
}

.button-hero {
  width: 256px;
  height: 51px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.custom-button:active {
  background: rgba(255, 255, 255, 0.4);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-content: top;
  align-content: center;
  padding: 50px;
  gap: 50px;
  font-size: 18px;
  text-transform: lowercase;
  position: relative;
}

.footer-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  }

.social {
  flex: 0 0 33.3333%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 48px;
}

.social-img-link {
  width: 48px;
}